{% extends 'base.html.twig' %}

{% block title %}James Chu - {{ work.name}} - process{% endblock %}
{% block heading %}{{ work.name }}{% endblock %}

{% block nav %}
<ul>
  {% if prev %}
  <li><a href="/works/{{ prev }}">prev</a></li>
  {% endif %}
  <li><a href="/">home</a></li>
  {% if next %}
  <li><a href="/works/{{ next }}">next</a></li>
  {% endif %}
</ul>
{% endblock %}

{% block content %}
  {% include 'process/' ~ work.template %}
  <a href="/works/{{ work.slug }}" class="view-process-button">
    Back to <br />
    Project
  </a>
{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/flickity/2.0.5/flickity.min.css">
{% endblock %}
{% block extra_scripts %}
<script async src="//cdn.jsdelivr.net/flickity/2.0.5/flickity.pkgd.min.js"></script>
{% endblock %}
